<html>
    <head>
        <title>{{ name }} has been entered in the raffle!</title>
        <h2>{{ name }} has been entered in the raffle!</h2>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('message', function(data) {
                    document.getElementById("chat").innerHTML = data.msg;
                    if (data.msg == 'You are the winner!') {
                        document.body.style.backgroundColor = "green";
                    } else if (data.msg == 'Sorry!  Better luck next time!') {
                        document.body.style.backgroundColor = "red";
                    }
                });
            });
        </script>
    </head>
    <body>
        <h2 id="chat"></h2><br><br>
    </body>
</html>